.menuContainer {
  width: 100%;
}

.mainContainer{
  height: 100%;
  width: 100%;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, black 30px ), repeating-linear-gradient( black, darkgoldenrod );
}

.menuMainTitle{
  padding: 20px;
  display: flex;
}


.menuCategories {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  flex-direction: inherit;
  justify-content: space-around;
  font-family: Nexa-bold-demo,sans-serif;
  color: white;
  padding: 20px;
}

.articleTitle {
  color: white;
  z-index: 99999;
  text-align: center;
  margin-top: 20px;
}

.menuButtons {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  font-family: 'Maven Pro', sans-serif;
}


.menuButtons:first-child{
  position: relative;
  animation-name: menuAnimation;
  animation-duration: 2s;
}
.menuButtons:nth-child(2){
  position: relative;
  animation-name: menuAnimation;
  animation-duration: 3s;
}
.menuButtons:nth-child(3){
  position: relative;
  animation-name: menuAnimation;
  animation-duration: 4s;
}
.menuButtons:nth-child(4){
  position: relative;
  animation-name: menuAnimation;
  animation-duration: 5s;
}
.menuButtons:nth-child(5){
  position: relative;
  animation-name: menuAnimation;
  animation-duration: 6s;
}.menuButtons:nth-child(6){
   position: relative;
   animation-name: menuAnimation;
   animation-duration: 6s;
 }
.menuButtons:nth-child(7){
  position: relative;
  animation-name: menuAnimation;
  animation-duration: 7s;
}



.articles {
  /*text-align: center;*/

}


@media screen and (max-width: 600px) {
  .menuCategories {
    color: gold;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 2px auto auto;
  }

  .menuContainer{
    overflow-y: auto;
    height: 75% !important;
  }

  .menuMainTitle{
    display: flex;
    flex-direction: column;
  }
  .spacing{
    margin: 20px;
  }


}

@keyframes menuAnimation {
  0% {left: -100px; top: 0px}
  100% {left:0 ; top: 0px}
}

