.menuContainer {
  width: 100%;
  overflow-x: hidden;
}


.menuCategories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: inherit;
  justify-content: space-around;
  margin: 45px auto auto;
}

.articleTitle {
  color: white;
  z-index: 99999;
  text-align: center;
  margin-top: 20px;
}

.menuButtons {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  font-family: 'Maven Pro', sans-serif;
}


.menuButtons:first-child{
  position: relative;
  animation-name: menuAnimation;
  animation-duration: 2s;
}
.menuButtons:nth-child(2){
  position: relative;
  animation-name: menuAnimation;
  animation-duration: 3s;
}
.menuButtons:nth-child(3){
  position: relative;
  animation-name: menuAnimation;
  animation-duration: 4s;
}
.menuButtons:nth-child(4){
  position: relative;
  animation-name: menuAnimation;
  animation-duration: 5s;
}
.menuButtons:nth-child(5){
  position: relative;
  animation-name: menuAnimation;
  animation-duration: 6s;
}.menuButtons:nth-child(6){
   position: relative;
   animation-name: menuAnimation;
   animation-duration: 6s;
 }
.menuButtons:nth-child(7){
  position: relative;
  animation-name: menuAnimation;
  animation-duration: 7s;
}


.menuButtons:hover {
  color: white;
}


.articles {
  /*text-align: center;*/

}


ul.leaders {
  max-width: 40em;
  padding: 0;
  overflow-x: hidden;
  list-style: none
}

ul.leaders li:after {
  float: left;
  color: gold;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
}

ul.leaders span:first-child {
  padding-right: 0.33em;
  color: white;
  /*background: white*/
}

ul.leaders span + span {
  float: right;
  padding-left: 0.33em;
  color: white;
  position: relative;
  z-index: 1
}

@media screen and (max-width: 600px) {
  .menuCategories {
    position: absolute;
    left: 30px;
    top: 140px;
    color: gold;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 2px auto auto;
  }

}

@keyframes menuAnimation {
  0% {left: -100px; top: 0px}
  100% {left:0 ; top: 0px}
}

