<div class="mainContainer" [ngStyle]="{'background':'url('+backgroundUrl+') no-repeat fixed 0 0 / cover'}" id="backgroundImage">
  <img src="assets/Images/Untitled.png" width="600">
  <div class="menuCategories">
    <div *ngFor="let cat of MenuCategories;let id = index" class="row menuButtons">
      <div class="col menuCategoriesName" (click)="selectMenu(id)">{{cat.name}}</div>
    </div>
  </div>
  <div class="menuContainer"  id="containerImage" >
    <div class="menuMainTitle" >
      <div *ngFor="let article of MainArticles;let i = index">
        <div class="fw-bold fs-1 articleTitle">{{article.title}}</div>
        <ul style="margin: 50px" class="leaders articles " *ngFor="let art of article.content">
          <li><span style="font-family: 'Maven Pro', sans-serif;font-size: 20px;font-weight: bolder">{{art.name}}</span><span
            style="font-family: 'Maven Pro', sans-serif;font-size: 20px;font-weight: bolder">{{art.price}}</span></li>

        </ul>
      </div>
      <div *ngFor="let article of Breakfast;let i = index">
        <ul style="margin: 50px" class=" ">
          <li>
            <span
            style="font-family: 'Maven Pro', sans-serif;font-size: 20px;font-weight: bolder;color: white">{{article.name}}</span>
            <span class="float-end"
            style="font-family: 'Maven Pro', sans-serif;font-size: 20px;font-weight: bolder;color: white">{{article.price}}</span>
            <span class="float-end"
              style="font-family: 'Maven Pro', sans-serif;font-size: 12px;color: gold">{{article.description}}</span>
          </li>

        </ul>
      </div>
      <div>
      <div  *ngFor="let article of Articles;let i = index">
        <ul style="margin: 50px" >
          <li>
            <span
              style="font-family: 'Maven Pro', sans-serif;font-size: 20px;font-weight: bolder;color: white">{{article.name}}</span>
            <span class="float-end"
                  style="font-family: 'Maven Pro', sans-serif;font-size: 20px;font-weight: bolder;color: white">{{article.price}}</span>
            <span class="float-end"
                  style="font-family: 'Maven Pro', sans-serif;font-size: 12px;color: gold">{{article.description}}</span>
          </li>

        </ul>
      </div>
      </div>
    </div>
  </div>
</div>
