<div class="mainContainer">
  <div class="menuCategories">
    <div *ngFor="let cat of MenuCategories;let id = index" class="row menuButtons">
      <div class="col menuCategoriesName" (click)="selectMenu(id)">{{cat.name}}</div>
    </div>
  </div>
  <div class="menuContainer " style="overflow-y: auto;height: 90%">
    <div class="menuMainTitle" *ngIf="MainArticles.length">
      <div class="spacing" *ngFor="let article of MainArticles;let i = index">
        <div class="mb-4 fontBold text-primary-gold">{{article.title}}</div>
        <div *ngFor="let art of article.content">
          <li class="row justify-content-between">
            <span class="fontLight mb-1 text-primary-white col-8 ">{{art.name}}</span>
            <span class="fontBold text-primary-gold col-4">{{art.price}}</span>
          </li>

        </div>
      </div>
    </div>
    <div class="flex-column p-3 ">
      <div *ngFor="let article of Articles;let i = index">
        <div class="mb-4  fontBold text-primary-gold">{{article.title}}</div>
        <li class="row justify-content-between">
          <span class="fontLight mb-1 text-primary-white col-2  ">{{article.name}}</span>
          <span class="fontBold text-primary-white col-4">{{article.price}}</span>
        </li>
        <span class="descriptionFont text-primary-gold ">{{article.description}}</span>

      </div>
    </div>
  </div>
</div>
