<div class="mainContainer">
  <div class="aboutUs row justify-content-center">
    <h1 *ngIf="lang==='AL'">
      <span>Mbi</span>
      <span>20</span>
      <span>vite</span>
      <span>eksperiencë</span>
      <span>në</span>
      <span>fushën</span>
      <span>e</span>
      <span>gastronomisë</span>
      <span>në</span>
      <span>Tetovë</span>
      <span>restorani</span>
      <span>Tok 2000</span>
      <span>ju ofron</span>
      <span>nje gamë</span>
      <span>të gjërë</span>
      <span>të ushqimeve</span>
      <span>të ndryshme ,</span>
      <span>nga ushqimet e shpejta</span>
      <span>deri tek pizzat</span>
      <span>e më shumë.</span>
    </h1>
    <h1 *ngIf="lang==='MK'">
      <span>Со повеќе од</span>
      <span>20</span>
      <span>годишно</span>
      <span>искуство</span>
      <span>во областа</span>
      <span>на гастрономијата</span>
      <span>во Тетово</span>
      <span>ресторанот</span>
      <span>Ток 2000</span>
      <span>ви нуди</span>
      <span>широк спектар</span>
      <span>на различни</span>
      <span>храна,</span>
      <span>од брза храна</span>
      <span>до пици</span>
      <span>и повеќе.</span>
    </h1>
    <h1 *ngIf="lang==='EN'">
      <span>With over</span>
      <span>20</span>
      <span>years</span>
      <span>of experience</span>
      <span>in the field</span>
      <span>of gastronomy</span>
      <span>in Tetovo,</span>
      <span>restaurant</span>
      <span>Tok 2000</span>
      <span>offers you</span>
      <span>a wide range</span>
      <span>of various</span>
      <span>foods,</span>
      <span>from fast food</span>
      <span>to pizzas</span>
      <span>and more.</span>

    </h1>
  </div>

  <div
    class="fontBold text-center mb-3 mt-3">
    {{lang==='AL'?'Na kontaktoni':lang==='EN'?'Contact Us' :'Контактирајте не'}}
  </div>

  <div class="contactUs" (click)="callMe()">

    <mat-icon class="trin-trin text-primary-secondary ">phone</mat-icon>
    <div class="number fontLight text-primary-secondary">
      071 - 363 - 974
    </div>
  </div>
  <div class="locationContainer">
    <iframe width="100%" height="650" style="border:0" loading="lazy" allowfullscreen
            src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJKV7wYYPwUxMRWz6jGRZIwqE&key=AIzaSyCzO6eWVcP40FGe66ERj1TCmILa0ySlY0I">

    </iframe>
  </div>
</div>
