.main__header {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.main__footer{
  display: flex;
  justify-content: flex-end;
  background-color: red;
}

.main__body{
  height: calc(100vh - 64px);
  overflow: hidden;
}

.main{
  width: 100vw;
}

.menu__container {
  display: flex;
  gap: 1rem;
  margin: auto;
}

.toolbar-logo{
  position: absolute;
  left: 100px;
}

.menu__items{
  text-decoration: none;
  cursor: pointer;
  color:#1A1C20;
}




