.main__header {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.main__footer {
  display: flex;
  justify-content: flex-end;
  background-color: red;
}

.main__body {
  background-color: black;
  height: calc(100vh - 40px);
  overflow: hidden;
}

.menu {
  position: sticky;
}

.main {
  width: 100vw;
}

.menu__container {
  display: flex;
  gap: 1rem;
  margin: auto;
}

.toolbar-logo {
  position: absolute;
  left: 100px;
}

.menu__items {
  text-decoration: none;
  cursor: pointer;
  color: #1A1C20;
}

.menu__items_mobile {
  text-decoration: none;
  cursor: pointer;
  color: var(--primary);
}

.menu__trigger {
  display: none;
}

@media only screen and (max-width: 600px) {
  .menu__items {
    display: none;
  }

  .toolbar-logo {
    left: 40%
  }

  .menu__trigger {
    height: 50px;
    width: 50px;
    display: flex;
    position: absolute;
    left: 10px;
    top: 15px;
  }
  .languages{
    display: none;
  }
  .languagesContainter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: end;
    gap: 10px;
  }
}

.side-drawer {
  display: flex;
  width: 100%;
  background-color: black;
  padding: 20px;
}

.languages {
  position: absolute;
  left: 90%
}

.languagesContainter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}




