<div class="main">
  <div class="main__header">
    <mat-toolbar class="menu">
      <div class="menu__container">

      <a class="toolbar-logo" routerLink="/" routerLinkActive="active">
      <img  src="assets/Logo/vector/default-monochrome-black.svg" width="100" height="50"
           alt="logo"/>
      </a>
        <mat-toolbar-row ><a class="menu__items" routerLink="/menu" routerLinkActive="active" ariaCurrentWhenActive="page">Menu</a></mat-toolbar-row>
        <mat-toolbar-row ><a class="menu__items" routerLink="/gallery" routerLinkActive="active" ariaCurrentWhenActive="page">Gallery</a></mat-toolbar-row>
        <mat-toolbar-row ><a class="menu__items" routerLink="/events" routerLinkActive="active" ariaCurrentWhenActive="page">Events</a></mat-toolbar-row>
        <mat-toolbar-row ><a class="menu__items" routerLink="/contact-us" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></mat-toolbar-row>
      </div>
    </mat-toolbar>
  </div>
  <div class="main__body">
    <router-outlet></router-outlet>
  </div>

</div>
