:root {
  --main: #F4F4F4;
  --primary: #F0A500;
  --secondary: #CF7500;
  --black: #1A1C20;
}

@font-face {
  font-family: Nexa-light;
  src: url("app/Fonts/NexaTextDemo-Light.eot") ;
  src: url('app/Fonts/NexaTextDemo-Light.eot?#iefix') format('embedded-opentype'),
  url('app/Fonts/NexaTextDemo-Light.woff2') format('woff2'),
  url('app/Fonts/NexaTextDemo-Light.woff') format('woff'),
  url("app/Fonts/TTf/NexaTextDemo-Light.ttf") format("truetype");
}

@font-face {
  font-family: Nexa-bold;
  src: url("app/Fonts/NexaTextDemo-Bold.eot") ;
  src: url('app/Fonts/NexaTextDemo-Bold.eot?#iefix') format('embedded-opentype'),
  url('app/Fonts/NexaTextDemo-Bold.woff2') format('woff2'),
  url('app/Fonts/NexaTextDemo-Bold.woff') format('woff'),
  url("app/Fonts/TTf/NexaTextDemo-Bold.ttf") format("truetype");
}


@font-face {
  font-family: Nexa-bold-demo;
  src: url("app/Fonts/NexaDemo-Bold.eot") ;
  src: url('app/Fonts/NexaDemo-Bold.eot?#iefix') format('embedded-opentype'),
  url('app/Fonts/NexaDemo-Bold.woff') format('woff'),
  url("app/Fonts/TTf/NexaDemo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Nexa-light-demo;
  src: url("app/Fonts/NexaDemo-Light.eot") ;
  src: url('app/Fonts/NexaDemo-Light.eot?#iefix') format('embedded-opentype'),
  url('app/Fonts/NexaDemo-Light.woff') format('woff'),
  url("app/Fonts/TTf/NexaDemo-Light.ttf") format("truetype");
}


.fontBold{
  font-family: Nexa-bold-demo,sans-serif;
  font-size: 24px;
}

.fontLight{
  font-family: Nexa-light-demo,sans-serif;
  font-size: 24px;
}

.descriptionFont{
  font-family: Nexa-light-demo,sans-serif;
  font-size: 18px;
}

.text-primary-gold{
  color: var(--primary);
}

.text-primary-white{
  color: var(--main);
}

.text-primary-secondary{
  color: var(--secondary);
}





