/* You can add global styles to this file, and also import other style files */

.buttonat:hover{
  border-radius: 8px;
  background-color: #4CAF50; /* Green */
  color: white;
  border:1px solid #4CAF50;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
