

.overwrite{

  font-family: Nexa-light-demo,sans-serif;
  position:absolute;
  height: 200px;
  width: 200px;
  left: 5%;
  top: 40%;
  color: white;
}

@media only screen and (max-width: 600px){
  .overwrite{
    font-family: Nexa-light-demo,sans-serif;
    position:absolute;
    height: 50px;
    width: 50px;
    top:70%;
    color: white;

  }

  .image{
    display: none;

  }
}
