<div>
  <div class="overwrite">
    <img src="assets/Logo/vector/default-monochrome.svg" height="200" width="300">
    Pizza & Restaurant
    <mat-divider></mat-divider>
    EST.2003
  </div>

  <img class="image" src="assets/Backgrounds/front-view-burger-stand.jpg" width="100%" height="auto">
  <img  src="assets/Backgrounds/top-view-pepperoni-pizza-sliced-into-six-slices.jpg" width="100%" height="auto" >
  <img  src="assets/Backgrounds/front-view-burger-stand.jpg" width="100%" height="auto" >
  <img  src="assets/Backgrounds/top-view-tasty-french-fries-with-sauces-black.jpg" width="100%" height="auto" >
</div>
